<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giggle</title>
</head>
<body>
    {% block context %}
    <center>
    <img src= "https://www.google.com/logos/doodles/2020/thank-you-food-service-workers-6753651837108761-2xa.gif" alt="google" align="middle">

    <form action="search">
        <input type="text" name="searchTerms" size="55">
        <input type="Submit">
    </form>
    </center>    

    {% endblock %}
</body>
</html>