<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giggle</title>
</head>
<body>Noninvasive In Vivo Assessment of Cardiac Metabolism in the Healthy and Diabetic Human Heart Using Hyperpolarized 13C MRI<br>Simultaneous in vivo assessment of cardiac and hepatic metabolism in the diabetic rat using hyperpolarized MRS<br>The ‘Goldilocks zone’of fatty acid metabolism; to ensure that the relationship with cardiac function is just right<br>The von Hippel-Lindau Chuvash mutation in mice alters cardiac substrate and high-energy phosphate metabolism<br>An overview of molecular aspects of iron metabolism<br>In vivo alterations in cardiac metabolism and function in the spontaneously hypertensive rat heart<br>Hyperpolarized butyrate: a metabolic probe of short chain fatty acid metabolism in the heart<br></body>
</html>